<div class="center">
  <div class="main">
    <div class="welcome" fxLayout="column" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
      <section>
        <h1><img src="./assets/images/logo_transparent_background.png"></h1>
      </section>
      <mat-card fxFlex>
        <!-- <mat-card-title>A fresh, streamlined, sustainable approach to travel = your big concern is enjoying your trip.</mat-card-title> -->
          <mat-card-title>Fetch'd TraveLight is currently seeking seed investment of $250,000.  To request more details or contact us click below.</mat-card-title>
         <a routerLink="/contact"><button mat-raised-button>Click me!</button></a>
    </mat-card>
    </div>
  </div>
</div>
