<div fxLayout="column" fxLayoutAlign="center center" [innerHtml]="ytIframeHtml"></div>
<section fxLayout="row" fxLayout.lt-sm="column">
  <mat-card class="card1">
    <mat-card-title>Jesse Ingalls, CEO and Founder</mat-card-title>
    <img class="pic" mat-card-image src="./assets/images/jesse.jpeg"><img mat-card-image>
    <mat-card-content>Jesse is a Grammy Award winning musician and producer, as well
      as a JavaScript/Angular app developer. He is also the Creative Director at TAG, an anti-anxiety app.
    </mat-card-content>
  </mat-card>
  <mat-card class="card1">
    <mat-card-title>Tricia Doud, Co-Founder/Creative Director</mat-card-title>
    <img class="pic2" mat-card-image src="./assets/images/Doud2.jpg"><img mat-card-image>
    <mat-card-content>
      Trish is a PHD in clinical psychology, running a succesful private practice in Los Angeles.  As well as a
      founding partner in TAG, an anti-anxiety app.
    </mat-card-content>
  </mat-card>
</section>
<mat-card fxLayout="column" class="text">
  <mat-card-title fxFlex class="about">Our Story...</mat-card-title>
  <mat-card-content class="text-about">
    In my years as a touring musician, I was always scrambling to get everything together I needed for my trips ->
     Drives to the pharmacy for toiletries and healthy snacks, trips to the department store for basics like shirts and undies,
    not to mention work-out clothes and gig/evening atire.  Then having to lug a giant suitcase to the airport...only to pay $25-$50 a bag.
    <br>
    <br>
    If your a parent like me, then you know how hard it is to pack all your items like diapers, snacks, and bottles.
    <br>
    <br>
    What if there was a way to take away all that hassel and stress, and save some money at the same time. In a way that was
    helping with environmental sustainability?
    <br>
    <br>
    <section class="">
    With Fetch'd TraveLight, travelers can have all their custom items at their hotel upon arrival, packed nicely
    in their Fetch'd duffel bag.
    <br>
    <br>
    After your trip you can either fly home with your new duffel or easily return it, and many clothing items to us.
    <br>
    <br>
    With our 'Green Initiative', and 'Used but New' clothing options, we aim to reduce carbon imprint as well.
    <br>
    <br>
    <h2><a href="/business">Learn More</a></h2>
    </section>
  </mat-card-content>
</mat-card>

